<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
               <span style="color: seashell;">2021 ©  Arpit Vashisht.</span>
            </div>
            <div class="col-md-6">
                <div class="text-sm-right d-none d-sm-block">
                    <span style="color: seashell;"> Designed & Developed by  Arpit Vashisht
                        BCT-Radiance Batch</span>
                </div>
            </div>
        </div>
    </div>
</footer>
